{% extends 'base.html' %}

{% block title %}Denuncias{% endblock %}

{% block content %}
<center>
        <nav class="navbar navbar-dark bg-dark m-1 ml-5 px-md-4 text-white container mb-5" id="navbar" style="border-radius: 20px 0px;">
                <h6>Seja Bem Vindo(a)</h6>
        </nav>
        <form method="POST">
            {% csrf_token %}
                <div id="div_id_titulo" class="form-group"> 
                        <label for="id_titulo" class=" requiredField text-light text-uppercase">
                                Titulo 
                        </label> 
                        <div class=""> 
                                <input type="text" name="titulo" autofocus="" class="textinput textInput form-control" required="" id="id_titulo"> 
                        </div> 
                        </div>
                    <div id="div_id_comentarios" class="form-group">
                            <label for="id_comentarios" class=" requiredField text-light text-uppercase">
                                    Comentarios
                                    <span class="asteriskField">*</span>
                                </label>
                        <div class=""> 
                                <textarea id="exampleFormControlTextarea1" name="comentarios" autofocus="" class="textinput textInput input-group" required="" id="id_comentarios" placeholder="Escreva aqui seu comentario...">
                                        </textarea> 
                        </div>
            <button type="submit" class="btn btn-secondary" id="btnLogin">Enviar</button>
        </form>

{% endblock %}        
