{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Relatórios de Elogios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ProjetoDjangoCss.css' %}"> 
    <script src="https://kit.fontawesome.com/97fe61ba15.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login">Login</a>
            </li>
            <div class="d-flex">
                <div class="dropdown mr-1">
                  <button type="button" class="btn btn-dark dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                    Relatórios
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                      <a class="dropdown-item bg-dark text-white" href="/Relatorio Total">Relatórios Total</a>
                      <a class="dropdown-item bg-dark text-white" href="/Relatorio de Sugestoes">Relatórios de Sugestão</a>
                      <a class="dropdown-item bg-dark text-white" href="/Relatorio de Elogios">Relatórios de Elogios</a>
                      <a class="dropdown-item bg-dark text-white" href="/Relatorio de Reclamacoes">Relatórios de Reclamações</a>
                      <a class="dropdown-item bg-dark text-white" href="/Relatorio de Denuncias">Relatórios de Denuncias</a>  
                  </div>
                </div>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
          </form>
        </div>
      </nav>
    <table class="table my-5 table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Elogios</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-light text-dark">
            <th scope="row">1</th>
            <td></td>
            <td></td>
          </tr>
          <tr class="bg-light text-dark">
            <th scope="row">2</th>
            <td></td>
            <td></td>
          </tr>
          <tr class="bg-light text-dark">
            <th scope="row">3</th>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>    
</body>
</html>